

.image-title {
    @apply w-1/6;
}

.input-group-left{
    @apply w-[calc(30%-1px)] px-3 font-medium py-2;
}

.input-group-right {
    @apply w-[calc(60%-1px)] p-1;
}

.items-input-group {
    @apply w-[calc(80%-1px)] ml-[calc(10%-1px)] mr-[calc(10%-1px)] my-3;
}

.items-input-group p {
    @apply text-sm font-normal text-right;
}

.card-header-top {
    @apply text-4xl mt-8 mb-0 font-thin text-blue-gray-500 text-center border-b pb-5;
}

.radio-text2 {
    font-size: 0.7em;
    transition: all .4s ease-in-out;
    /* color: #ff9000;
    background: #064b6c; */
    @apply w-auto m-1 uppercase tracking-wider bg-transparent border border-blue-gray-400 text-blue-gray-700
    px-7 py-2 rounded-md hover:bg-blue-gray-700 hover:text-white hover:border-blue-gray-800 hover:scale-125;
}

.change-date-link-inverse {
    font-size: 0.8em;
    @apply w-auto border border-blue-gray-800 uppercase tracking-wider text-white px-3 m-0.5 py-1.5 
    bg-blue-gray-800 rounded-md hover:opacity-80;
}

.add-purchases {
    @apply flex w-full mt-2 mb-5 p-4 border rounded-md;
}

.add-purchases div {
    @apply w-1/3;
}

.search-items-container, .purchased-items-container {
    @apply flex mx-2 p-0.5 border-b rounded-sm overflow-auto;
}

.search-items {
    @apply border min-w-max text-xs bg-blue-gray-50 rounded-md m-1 px-3 py-2 hover:border-blue-gray-500 hover:bg-white/70;
}

.added-items {
    @apply border border-green-300 min-w-max text-xs bg-green-300 rounded-md m-1 px-3 py-2 hover:border-green-500 hover:bg-green-400;
}

.no-of-items-btn {
    @apply w-auto border border-blue-gray-100 rounded-md text-center my-1 p-0.5 hover:text-black;
}












@media (max-width: 800px) {
    .image-title {
        @apply w-3/6;
    }
}