

.dialog-top {
    @apply w-full bg-green-500 text-center text-sm tracking-wide font-normal uppercase text-white p-4;
}

.custom-select {
    @apply w-full border border-blue-gray-200 px-2 py-2.5 outline-none rounded-md placeholder:text-blue-gray-400 text-sm font-normal;
}

.dialog-body-container {
    height: 70vh;
    @apply overflow-auto;
}

.profile-container {
    @apply bg-white rounded-lg;
}

.profile-img-cont {
    @apply bg-white rounded-t-2xl h-40 shadow-lg;
    background: url(https://t4.ftcdn.net/jpg/05/22/65/47/360_F_522654750_dWty6iO9Ev0Xjqlmorg6QV04sgKpmkUN.jpg);
    background-size: 100%;
    /* opacity: 0.4;
    border: 2px solid #ff9100; */
}

.profile-img {
    @apply w-full;
    height: 162px;
}

/* .hexagon::before {
    content:"";
    display:block;
    padding-top:86.6%;
    background:currentColor;
   clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
 } */


.box
{
    @apply w-40 h-40;
    background-color: #faebd7;
    clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    margin: 0 auto;
    border: 3px solid #fff;
}

.flt_svg {
    visibility: hidden; 
    position: absolute;
    width: 0px;
    height: 0px;
}

.box_parent
{
    margin-top: -167px;
    filter: url('#flt_tag');
}



.box2
{
    @apply w-44 h-44 shadow-lg;
    background-color: #faebd7;
    clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    margin: 0 auto;
    border: 3px solid #fff;
}

.flt_svg2 {
    visibility: hidden; 
    position: absolute;
    width: 0px;
    height: 0px;
}

.box_parent2
{
    margin-top: -100px;
    filter: url('#flt_tag');
}

.profile-text {
    @apply text-center m-3 p-3;
}

.profile-text h2 {
    @apply font-medium mb-1;
}

.profile-text p {
    @apply font-light text-xs mb-0.5;
}

.item-name {
    @apply text-sm;
}

.item-description {
    @apply text-xs font-light text-blue-gray-500;
}

.cart-tbl {
    @apply w-full;
}

.cart-tbl th {
    @apply border-b text-xs tracking-widest border-blue-gray-100 bg-blue-gray-50 px-4 py-3 font-light leading-none opacity-70;
}

.cart-tbl tr {
    @apply border-b hover:bg-blue-gray-50/20 hover:!border-b hover:border-b-orange-600/60
    /* hover:border-b-2 hover:border-b-light-blue-300 */
    ;
}

.general-container-size {
    width: 800px;
    @apply my-5;
}

table {
    @apply overflow-auto;
}

.input-group-left{
    @apply w-[calc(30%-1px)] px-3 font-medium py-2;
}

.input-group-right {
    @apply w-3/5 p-1;
}
 
.items-input-group {
    @apply 
    w-[calc(80%-1px)] mx-[calc(20%/2)] 
    my-3;
}

.items-input-group p {
    @apply text-right text-xs font-light;
}

.input-with-btn {
    @apply relative flex w-2/3 my-2;
}

.tbl-container {
    @apply w-full
}

.home-container {
    width: 800px;
    @apply min-h-[calc(100vh-140px)] shadow-lg rounded-lg my-5 relative bg-no-repeat;
    background: url(https://firebasestorage.googleapis.com/v0/b/sproude-pos.appspot.com/o/files%2F2b48ff08-65e9-42bf-9f70-9e8f82de4701?alt=media&token=74e6c5d1-96ed-4834-ba10-67a9620cd10c);
    background-size: 100%;
}









@media (max-width: 800px) {
    .general-container-size {
        @apply w-[calc(100vw-32px)] mx-2;
    }

    .home-container {
        @apply w-[calc(100%-8px)] min-h-[calc(100vh-100px)] bg-no-repeat;
    }
}

@media (max-width: 400px) {
    .general-container-size {
        @apply w-[calc(100vw-32px)] mx-4 p-0;
    }

    .menu-link {
        @apply px-2 py-1 mx-1 hover:scale-110
        ;
    }

    .menu-strip {
        @apply py-2;
    }

    .input-group-left{
        @apply hidden;
    }
 
    .items-input-group {
        @apply w-full;
    }
    
    .input-group-right {
        @apply w-full p-1;
    }

    .cart-cont1 {
        @apply flex-col;
    }

    .xform-input {
        @apply w-[calc(100%-8px)];
    }

    .input-with-btn {
        @apply w-full;
    }

    .home-container {
        @apply w-[calc(100%-8px)] min-h-[calc(100vh-140px)] bg-no-repeat;
        background: url(https://firebasestorage.googleapis.com/v0/b/sproude-pos.appspot.com/o/files%2Fc1620365-bb82-4f9f-bb7e-f2d4294432f8?alt=media&token=0533247b-922f-4a98-a13a-4e23925b0e4b);
        background-size: 100%;
    }

    .pivoapps {
        @apply bottom-4 left-4 absolute;
    }

}